.mainTitle {
    margin-bottom: 25px;
    border: 25px rgb(43, 101, 226);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

#quiz {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    text-align: left;
}

button {
    margin-top: 35px;
    margin-left: 4.5in;
    border-color: rgb(43, 101, 226);
    border-width: medium;
}