body {background-color: rgb(52, 100, 233);}

.mainTitle {
    margin-bottom: 25px;
    border-bottom: 25px groove rgb(135, 27, 161);
    border-top: 25px groove rgb(135, 27, 161);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

#results {
    margin-left: 9.60in;
    font-size: larger;
    font-weight: 750;
}

#quiz {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

button {
    margin-top: 35px;
    margin-left: 9.35in;
    border-color: rgb(135, 27, 161);
    border-width: medium;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 25px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 25px;
}

form {
    font-size: x-large;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}